manifest {
    name        = 'ONT_FineTuner-nextflow'
    author      = 'ONT FineTuner Nextflow conversion'
    description = 'Fine-tune an Oxford Nanopore Bonito basecalling model'
    version     = '1.0.0'
    nextflowVersion = '>=23.10.0'
}

params {
    outdir = 'results'
}

/*
 * Change the executor to slurm, pbs, lsf, or another executor as needed.
 */
process {
    executor = 'local'

    /*
     * This can be enabled after verifying that the environment resolves:
     *
     * conda = "${projectDir}/environment.yml"
     */

    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: cpu_medium {
        cpus   = 4
        memory = '16 GB'
        time   = '8h'
    }

    withLabel: cpu_highmem {
        cpus   = 4
        memory = '64 GB'
        time   = '24h'
    }

    withLabel: gpu {
        cpus        = 8
        memory      = '64 GB'
        time        = '7d'
        accelerator = 1
    }
}

executor {
    queueSize = 10
}

conda {
    enabled = false
    useMamba = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline-dag.html"
}

report {
    enabled = true
    file = "${params.outdir}/execution-report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/execution-timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/execution-trace.tsv"
    overwrite = true
}